html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.bar-chart,
#elements {
    background-color: #c7d9d9;
    display: block;
    margin: auto;
    border: 10px double #a64c38;
}
