html,
body {
    margin: 0;
    padding: 0;
}

h1,
h3 {
    text-align: center;
}

.bar-chart,
#shapes {
    background-color: #c7d9d9;
    display: block;
    margin: auto;
    border: 10px double #a64c38;
}

.pie-chart {
    display: block;
    margin: 40px auto;
}

.line-chart {
    display: block;
    margin: auto;
}
